<h1>編輯文章</h1>

<%= form_for(@post, url: post_path(@post), method: "put") do |form| %>

<div class="fields">
    <%= form.label :title, "標題" %>
    <%= form.text_field :title %>
</div>
<div class="fields">
    <%= form.label :content, "內容" %>
    <%= form.text_area :content %>
</div>

<%= form.submit %>
<%= link_to "返回", :back %>

<% end %>